@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Merriweather:wght@300&family=Montserrat:wght@300&family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: rgb(240, 239, 243);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    width: 375px;
    height: 575px;
    background: white;
    border-radius: 15px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 20px;
    overflow-y: scroll;
}

.container::-webkit-scrollbar{
    display: none;
}

.container form{
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container form input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: 100;
    padding: 8px 10px;
}

.container form i{
    padding-left: 10px;
}

.product-list{
    padding: 15px 0;
}

.product{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
}

.product img{
    width: 25%;
    height: 50%;
    object-fit: cover;
    border-radius: 5px;
}

.product .product-details{
    flex-grow: 1;
    padding-left: 15px;
}

.product .product-details h2{
    font-size: 25px;
    color: #1d1d1d;
}

.product .product-details h3{
    font-size: 18px;
}